

<title>数据操作 - 数据表格</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>管理员管理</cite></a>
    <a><cite>后台管理员</cite></a>
    <a><cite>管理员列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">管理员列表</div>
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <button class="layui-btn" data-type="getCheckData">添加管理员</button>
            </div>
          <table class="layui-hide" id="table-admin" lay-filter="test-table-operate"></table>

          <script type="text/html" id="test-table-operate-barDemo">
<!--            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
          <script type="text/html" id="adminStatus">
            <!-- 这里的 checked 的状态只是演示 -->
            <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|停用" lay-filter="adminStatus-on"
                   value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.status == 1 ? 'checked' : '' }}>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin', 'table', 'form','view'], function(){
        var table = layui.table
            ,form = layui.form
            ,view = layui.view
            ,admin = layui.admin
            ,$ = layui.$;

        table.render({
            elem: '#table-admin'
            ,url: '../api/user/list?token='+layui.data('layuiAdmin').token
            ,method:'post'
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'id', width:80, title: 'ID', sort: true, fixed: 'left'}
                ,{field:'user_name', title: '用户名'}
                ,{field:'user_email',  title: '邮箱', sort: true}
                ,{field:'created_at',  title: '创建时间'}
                ,{title:'状态',  templet: '#adminStatus'}
                ,{title:'操作',  toolbar: '#test-table-operate-barDemo'}

            ]]
            ,page: true
            ,done:function(res){
                if(res.code==1001){
                    view.exit();
                }
            }
        });

        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title: ['编辑管理员', 'background-color: #00bb9d;text-align:center;font-size:18px;'],
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['893px', '600px'],
                    content: '#/user/administrators/admin-add/id='+data.id,
                    end: function(){
                        // 如果是通过单击关闭按钮关闭弹出层，父画面没有此表单
                        if($("#popupForm").length === 1){
                            $("#popupForm").submit();
                        }
                    }
                });

            }
        });

        //监听开关操作
        form.on('switch(adminStatus-on)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
            var id = this.value;
            var status = obj.elem.checked?1:0;
            admin.req({
                url: '../api/user/changeStatus?token='+layui.data('layuiAdmin').token
                ,data: {id:id,status:status}
                ,async: false
                ,type:'post'
                ,done: function(res){
                    if(res.code == 0){
                        layer.msg('操作成功', {
                            offset: '15px'
                            ,icon: 1
                            ,time: 1000
                        });
                    }else{
                        layer.msg('操作失败', {
                            offset: '15px'
                            ,icon: 2
                            ,time: 1000
                        });
                    }
                }
            })
        });

        var $ = layui.$, active = {
            getCheckData: function(){
                layer.open({
                    type: 2,
                    title: ['添加管理员', 'background-color: #00bb9d;text-align:center;font-size:18px;'],
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['893px', '600px'],
                    content: '#/user/administrators/admin-add/id=0',
                    end: function(){
                        // 如果是通过单击关闭按钮关闭弹出层，父画面没有此表单
                        if($("#popupForm").length === 1){
                            $("#popupForm").submit();
                        }
                    }
                });
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('test-table-operate')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('test-table-operate');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.test-table-operate-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>